accelerate>=0.22.0
bitsandbytes>=0.41.1
datasets>=2.14.5
deepspeed>=0.10.3
evaluate>=0.4.0
flash-attn>=2.3.0
gradio>=3.40.1
huggingface_hub>=0.16.4
loguru>=0.7.0
ninja>=1.11.1
packaging>=23.2
peft>=0.5.0
rich>=13.5.2
safetensors>=0.3.3
scipy>=1.10.0
tensorboard>=2.13.0
torch>=2.0.1
transformers>=4.32.0
tqdm>=4.66.1
wandb>=0.15.9
xformers>=0.0.21
pyyaml>=6.0